@charset "UTF-8";

/* 回答はここに書いてね */
.q6-1_text {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0px;
}

/* q6-1 text-align */
.text_align {
  text-align: center;
}

.text_align .q6-1_text {
  display: inline-block;
}

/*q6-1 margin */
.margin {
  margin: 0 auto;
  text-align: center;
}

/* q6-2 table */
.q6-2_text {
  padding: 10px;
  background-color: #fff;
}

.display_table {
  display: table;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text_table {
  display: inline-block;
}

/* q6-2 flex */
.display_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*q6-2 position固定 */
.position_parent {
  position: relative;
}

.text_position_stable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* q6-2 position可変 */
.text_position_flexible {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */
